* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    -webkit-app-region: drag;
    user-select: none;
    padding: 50px 25px;
    color: rgb(4, 43, 95)
}

h2 {
    margin-top: 10px
}
