* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    padding: 15px;
}

.coin-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 22px;
    font-weight: bold;
    color: #fff
}

.coin-container:hover {
    background-color: #000;
}

.coin-container:first-child {
    display: none;
}

.coin-container:not(:last-child) {
    margin-bottom: 30px;
}

.image {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    -webkit-app-region: no-drag;
}

.name {
    margin-right: 10px;
    font-size: 15px;
}

.date {
    display: block;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    font-weight: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
}