* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    -webkit-app-region: drag;
    user-select: none;
    padding: 15px;
    color: #fff;
}

.coin-contaier-template {
    display: none;
}

.coin-contaier:not(:last-child) {
    margin-bottom: 15px;
}

.coin-contaier .content {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.coin-contaier .content .image {
    margin-right: 10px;
}

.coin-contaier .content .symbol {
    text-transform: uppercase;
}

.coin-contaier .footer {
    margin-top: 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5)
}

.coin-contaier .footer .link {
    color: inherit;
    -webkit-app-region: no-drag;
}